@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border;
}

:root{
    --main-background: #f8f7f7;
    --main-font: 'Gilroy-Medium', sans-serif;
    --black: black;
}

body{
    background: var(--main-background);
    font-family: var(--main-font);
}

.nav-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 140px;
}

nav a{
    text-decoration: none;
    color: var(--black);
    margin: 20px;
}

.nav-button{
    text-decoration: none;
}


