*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border;
}

:root{
    --main-background: #f8f7f7;
}

body{
    background: var(--main-background);
}

.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}